body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(233, 213, 213);
    color: rgb(5, 5, 5);
  
    /* font-size: 20px; */
}

.saludo:hover {
    color: aquamarine;
}

button {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

main{
    padding-top: 50px;
}

/* i {
    padding-right: 3px;
} */

.card-form {
    padding: 30px 60px 30px 60px;
    margin-left: 300px;
    margin-right: 300px;

    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(175, 194, 248),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
/* ----------Generales--------- */
*{
    padding: 0;
}
.Layout{
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: 0 2px 6px ;
    padding: 0 15px;
    box-sizing: border-box;
}
/* // ------------PRODUCTOS---------- */
.title {
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: rgb(4, 5, 5);  
}
.productos {
    padding: 5rem 1rem;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}
.producto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
}
.producto:hover{
    border: 6px solid #f5faf859;
}
.producto__img img {
    width: 310px;
}
.producto__footer{
    padding: 1rem;
}
.producto__footer h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a202c;
    font-family: Arial, Helvetica, sans-serif;
}
.producto__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, .555);
    text-transform: uppercase;
    font-size: 18px ;
}
.producto__footer .price{
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .555);
}
.producto .buttom{
    width: 100% ;
    height: 45px;
    background-color: rgba(36, 36, 37, 0.87);
    max-width: 250px;
    /* margin: 0 auto; */
    font-size: 1.5rem;
    color:aliceblue;
    font-weight: 600;
}

/* // ------------CARRITO DE COMPRAS---------- */
.carritos{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgb(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem ;
    visibility: hidden;
}
.carrito{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}
.carrito h3{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.carritos.show{
    visibility: visible;
}
.carrito.show{
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}
.carrito__close i{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.carrito__close i:hover{
    fill: crimson;
}
.carrito__center{
    width: 90%;
    margin: 0 auto ;
    /* border: 10px solid red; */
}
.carrito__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #8126b659;
    border-radius: 5px;
} 
.carrito__item img{
    width: 9rem;
}
.carrito__item h4{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    /* font-weight: bold; */
    font-family: Helvetica, sans-serif;
}
.carrito__item .price{
    color:rgb(56, 53, 53);
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: -1rem;
}
.carrito__item .cantidad{
    font-size: 2rem;
    font-weight: bold;
}
.carrito__item .remove__item{
    width: 60px;
    height: 80px;
    fill: crimson;
    margin-top: 2rem;
}
.carrito__footer{
    text-align: center;
    margin-bottom: 3rem;
}
.carrito__footer h4{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carrito__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 252, 0.74);
    border: 0;
    outline: 0;
    cursor: pointer;
}
.carrito__footer .btn:hover{
    background-color: rgba(0, 0, 252, 0.849);
   color: white;
}

/* --------- RESPONSIVE --------- */
@media only screen and(max-width:1000px) {
    .carrito__item{
        width: 92%;
    }
}
@media only screen and(max-width:700px) {
    .carrito{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito__item h4{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:450px) {
    .carrito__item h4{
        display: .5rem;
    }
}
.carrito__item .remove__item i{
    width: 30px;
    height: 70px;
}